<div class="container">
  <h1>Hola este es mi primer proyecto</h1>
  <h2>{{welcome}}</h2>
  <ul>
    <li *ngFor="let task of tasks()">
      {{task}}
    </li>
  </ul>
  <hr>
  <h2>{{'Hola'.repeat(4)}}</h2>
  <p>La suma de 3 + 3 {{3 + 3}}</p>
  <p>Hola soy {{name()}} y mi edad {{age}}</p>
  <hr>
  <img [src]="person().avatar" alt="">
  <input type="number" [value]="person().age">
  <button [disabled]="disable">click me</button>
  <p>person:{{person().name}}</p>
  <hr>
  <button (click)="clickHandler()">click me</button>
  <button (dblclick)="clickHandler()">Doble click</button>
  <p>(change)</p>
  <input type="number" [value]="person().age" (change)="changeHandler($event)">
  <p>(change)</p>
  <input type="text" [value]="person().name" (change)="changeHandler($event)">
  <p>(keydown)</p>
  <input type="text" [value]="person().name" (keydown)="keydownHandler($event)">
  <p>(keydown shift)</p>
  <input type="text" [value]="person().name" (keydown.shift.t)="clickHandler()">
  <hr>

  <h1>Signals</h1>
  <input type="text" [value]="name()" (change)="changeHandler($event)">
  <p>name: {{name()}}</p>

  <ul>
    <p>total: {{tasks().length}}</p>
    <li *ngFor="let task of tasks(); index as i">
      {{i}} {{task}}
    </li>
  </ul>
  <hr>
  <div *ngIf="1 !== 1">
    My contend
  </div>
  <div *ngIf="name() === 'nicolas'">
    Soy nicolas
  </div>
  <input type="number" [value]="person().age" (change)="changeAge($event)">
  <div *ngIf="person().name === 'nicolas' && person().age > 18 else miBloque ">
    Soy nicolas y soy mayor de 18
  </div>
  <ng-template #miBloque>
    Soy nicolas y soy menor de 18
  </ng-template>
  <hr>
  <input type="text" [value]="person().name" (change)="changeName($event)">
  <div [ngSwitch]="person().name">
    <p *ngSwitchCase="'nicolas'">yo soy nicolas</p>
    <p *ngSwitchCase="'julian'">yo soy julian</p>
    <p *ngSwitchCase="'ana'">yo soy ana</p>
    <p *ngSwitchCase="'valentina'">yo soy valentina</p>
    <p *ngSwitchDefault>yo no soy nadie</p>
  </div>
  <hr>
  <input type="color" [formControl]="colorCtrl">
  <p>color:{{colorCtrl.value}}</p>
  <svg>
    <g>
      <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCtrl.value"/>
    </g>
  </svg>
  <hr>
  <input type="number" [formControl]="widthCtrl">
  <span class="box" [style.width.px]="widthCtrl.value"></span>
  <hr>
  <p>
  <input type="text" [formControl]="nameCtrl"><br>
  <span class="message-error" [class.show]="nameCtrl.invalid && nameCtrl.touched">Nombre invalido</span>
  </p>
  <p>
    <input type="text">
  </p>
</div>
